body{
   background-image: linear-gradient(to top, rgba(255, 255, 252, 0.52), rgba(240, 14, 29, 0.73)),
        url('rosebg.jpg');
}

.picture img{
    width: 150px;
    height: 150px;
    padding: 2px;
}

.picture {
    cursor: pointer;
}
.img_family{
    width: 400px;
    height: 150px;
    border: 2px solid #e65a9b;
    padding: 2px;
}
.modal-content {
    margin-top: 100px;
    align-content: center;
}

.img_modal {
    display: inline-block;
    width: 400px;
    height: 400px;
}

.modal-body {
    text-align: center
}
